
//CUSTOM
$theme-colors: (
  "primary": #282f44,
  "secondary": #e6af2e,
  "white": #ececec
);

$colors:(
);

.progress{
  margin-left: 10px;
  margin-right: 10px;
  height: 15px;
  border-radius: 10px;
}

.progress-bar{
  margin: 3px;
  border-radius: 10px;
  background-color: #202636;
}

@import "node_modules/bootstrap/scss/bootstrap";
