
//CUSTOM
$theme-colors: (
  "primary": #282f44,
  "secondary": #e6af2e,
  "secondary-yellow": #ebbf58,
  "white": #ececec,
  "midnight": #202636,
  "ivory":#ececec,
  "brightgrey":#535969,
  "nugget":#b88c25,
  "silver":#bdbdbd,
  "blbl":#116ef0,
  "pp":#4872ce,
  "pink": #ee7fe5,
  "jin":#D1E1F8,
  "high":#cf3f3f
);

$colors:(
);

.progress{
  margin-left: 10px;
  margin-right: 10px;
  height: 15px;
  border-radius: 10px;
}

.progress-bar{
  margin: 3px;
  border-radius: 10px;
  background-color: #202636;
}

@import "node_modules/bootstrap/scss/bootstrap";
