extends ../app.pug

append stylesheets
    //- //link(rel='stylesheet' href='/stylesheets/survey.css')
    script(src='https://kit.fontawesome.com/6b38ac7b93.js', crossorigin='anonymous')


block app-content
    div.text-center
        img.default-img.img-fluid(src="../img/default_pet.png")
    br
    div.description-header.text-center
        h3 Based on the survey your dream pet is...
    .container(style="line-height: 1;")
        .mx-4.mt-4
            .row #[p Type: Dog]
            .row #[p Age: Adult]
            .row #[p Lifestyle: Active]
            .row #[p Trait: Energetic, House-trained] 

    div.fixed-bottom.pb-5
        div.progress-buttons.d-flex.justify-content-center
            button(type='submit', class='btn btn-secondary', id='back-button',
                onclick="location.href='/home'").mx-2 Skip
            button(type='submit', class='btn btn-primary', onclick="window.location.href='/home#customize'").mx-2 Customize
