extends ../app.pug

append stylesheets
    script(src="../js/survey.js")


block app-content
    .container
        br
        div.progress
            div(class='progress-bar bg-secondary', role='progressbar', style="width:"+currentProgress+"%",
                aria-valuenow=currentProgress, aria-valuemin="0", aria-valuemax="100")
        br
        .row.my-5.px-4
            h3=question

        for item in choices
            .row.p-2.m-2
                button(type='submit', class='btn btn-outline-primary toggle-button mx-auto btn-block choice-button').px-3=item


        div.fixed-bottom
            div.d-flex.justify-content-center.p-3
                button(type='submit', class='btn btn-secondary', id='back-button').mx-2 Back
                button(type='submit', class='btn btn-primary', id='next-button').mx-2 Next

