extends ../layout

append stylesheets
    script(src='js/welcome.js')

block content
    .container
        .row(style="padding-top: 100px")
            img.user-image(src="img/logo.png", alt="CMU", width="250px", height="160px").mx-auto

        div.description-header.text-center
            h3 Welcome
        div.description-body.text-sm-center(style="margin: 20px;")
            ul Take a short survey to understand what pets suit your lifestyle and get started on your dream pet!

        div.row
            button(type='submit', class='btn btn-primary', id='primary-button').mx-auto.my-2 Get Started
            button(type='submit', class='btn btn-secondary', id='skip-button').mx-auto.my-2 Skip For Now
