.navigation-footer
  ul.nav.nav-pills.nav-fill.fixed-bottom
    li.nav-item
      a.nav-link(href="/home")
        i.fas.fa-home.fa-lg
        div.nav-text Home
    li.nav-item
      a.nav-link(href="/search")
        i.fas.fa-search.fa-lg
        div.nav-text Search
script(src="js/components/navFooterComponent.js")
script(src='https://kit.fontawesome.com/6b38ac7b93.js', crossorigin='anonymous')