.navigation-footer
  ul.nav.nav-pills.nav-fill.fixed-bottom
    li.nav-item
      a.nav-link(href="home").py-2 Home
    li.nav-item
      a.nav-link(href="search").py-2 Search
script(src="js/components/navFooterComponent.js")