extends app.pug
append stylesheets
    link(rel='stylesheet' href='/stylesheets/home.css')
block app-content
  include app-footer.pug

  div.container
    include animation.pug
    #interact-container(style="height: 40vh;")
    #stats-container
      div bounding level
      h3.text-primary #[i.fas.fa-bolt] #[i.fas.fa-utensils] #[i.fas.fa-tint]
      
      
    .vertically-even
      a.btn.btn-outline-primary.my-2(href="/report") Interact
      a.btn.btn-outline-primary.my-2(href="/report") Customize
      a.btn.btn-outline-primary.my-2(href="/report") Report
