extends layout

append stylesheets
    link(rel='stylesheet' href='/stylesheets/search.css')

block content
    div.cover-photo
        img.user-image(src="img/logo.png", alt="CMU", width="250px", height="160px")
    div.search
        form
            div.search-group
                div.label EMAIL
                input(type="text" class="form-control" placeholder="name@email.com")
                div.label PASSWORD
                input(type="text" class="form-control" placeholder="********")
                br
                button(type='submit', class='btn btn-primary', id='primary-button') LOG IN
                div.label#user Don't have an account?
                    a(href='/signup', style="color: #e6af2e;") Sign up