extends app.pug

append stylesheets
  script(src="js/searchInput.js")

block app-content
  br
  div.result-prompt Your Search Result...
  div.result-container
    div.dog-result
      img.result-image(src="img/dog1.png", alt="CMU")
      div.all-info
        div.dog-info
          div.dog-info-name Strawberry
          div.dog-info-location 0.8 mile
        div.dog-trait Adult Female; Chihuahua mix
    div.dog-result
      img.result-image(src="img/dog2.png", alt="CMU")
      div.all-info
        div.dog-info
          div.dog-info-name Chocolate
          div.dog-info-location 2.3 mile
        div.dog-trait Adult Female; Collie Shepherd
    include app-footer.pug