extends app.pug


block app-content
    br
    div.result-prompt Your Search Result...
    div.result-container
        div.dog-result
            img.result-image(src="../img/dog1.png", alt="CMU")
            div.all-info
                div.dog-info
                    div.dog-info-name Strawberry
                    div.dog-info-location 0.8 mile
                div.dog-trait Adult Female; Chihuahua mix
        button(type='submit', class='btn btn-secondary', id='skip-button') Back
        include app-footer.pug