extends app.pug

append stylesheets
    script(src="../js/searchResult.js")

block app-content
    br
    div.result-prompt Your Search Result...
    div.result-container
        div.dog-result
            img.result-image(src="../img/dog1.png", alt="CMU")
            div.all-info
                div.dog-info
                    div.dog-info-name Strawberry
                    div.dog-info-location 0.8 mile
                div.dog-trait Adult Female; Chihuahua mix
        br
        div.dog-result(style="background-color: #ececec; color: #282f44")
            div.dog-trait Strawberry is a sweet girl comes from shelter, she is easy going and love to connect with people. If interested, please contact Berkeley Humane Society: berkeleyhumane.org
        br
        button(type='submit', class='btn btn-secondary', id='skip-button') Back
        //include app-footer.pug