
extends app.pug

append stylesheets
    link(rel='stylesheet' href='/stylesheets/shareResult.css')

block app-content
    div.success.d-flex.justify-content-center
        img.map-image(src="img/paw-map.png")
        div.share-result 
            h2 #[strong Share results with nearby shelters?]
            p This will help you establish a relationship with nearby shelters
        
        div.confirm.d-flex
            button(type='submit', class='btn btn-secondary', id='cancel-button', onclick="location.href='/home'") Cancel
            button(type='submit', class='btn btn-primary', id='ok-button', onclick = "location.href='/share/location'") Ok
//-   include app-footer.pug