extends app.pug

append stylesheets
    script(src="js/welcome.js")

block app-content
    div.cover-photo
        img.user-image(src="img/logo.png", alt="CMU", width="250px", height="160px")
    br
    div.buttons
        button(type='submit', class='btn btn-primary', id='primary-button') Take Survey Now!

    include app-footer.pug