extends layout.pug

append stylesheets
  link(rel='stylesheet' href='/stylesheets/styleGuide.css')
  script(src='https://kit.fontawesome.com/6b38ac7b93.js', crossorigin='anonymous')

block content
  div.container
    div
      h2 1. Logo
      img(src="img/logo.png" style="width: 200px;")
    div
      h2 2. Primary Colors
      p
        a(href="https://colorhunt.co/palette/43937") Reference
      .row.row-cols-3
        .col
          .row.align-items-center
            .col
              div(style="background-color: #e6af2e;").color-sample
            .col
              span.align-middle(style="color: #e6af2e;") yellow-ochre <br/> #e6af2e
        .col
          .row.align-items-center
            .col
              div(style="background-color: #282f44;").color-sample
            .col
              span.align-middle(style="color: #282f44;") dark-navy <br/> #282f44
        .col
          .row.align-items-center
            .col
              div(style="background-color: #ececec;").color-sample
            .col
              span.align-middle(style="color: #acacac;") ivory <br/> #ececec
    div
      h2 3. Secondary Colors
      .row.row-cols-3
        .col
          .row.align-items-center
            .col
              div(style="background-color: #b88c25;").color-sample
            .col
              span.align-middle(style="color: #b88c25;") nugget <br/> #b88c25
        .col
          .row.align-items-center
            .col
              div(style="background-color: #ebbf58;").color-sample
            .col
              span.align-middle(style="color: #ebbf58;") cream can <br/> #ebbf58
        .col
          .row.align-items-center
            .col
              div(style="background-color: #202636;").color-sample
            .col
              span.align-middle(style="color: #202636;") midnight express <br/> #202636
      div(style = "margin-top: 10px")
      .row.row-cols-3
        .col
          .row.align-items-center
            .col
              div(style="background-color: #535969;").color-sample
            .col
              span.align-middle(style="color: #535969;") bright grey <br/> #535969
        .col
          .row.align-items-center
            .col
              div(style="background-color: #bdbdbd;").color-sample
            .col
              span.align-middle(style="color: #bdbdbd;") silver <br/> #bdbdbd
        .col
          .row.align-items-center
            .col
              div(style="background-color: #f0f0f0;").color-sample
            .col
              span.align-middle(style="color: #f0f0f0;") white smoke <br/> #f0f0f0
    div
      h2 4. Typography
      h1(id = "heading-1") Heading one
      h2(id = "heading-2") Heading two
      p(id = "body") Body
    br
    div
      h2 5. Forms
      form
        div.form-group
          label Text Input
          input(type="text" class="form-control" placeholder="Text Input")
        div.form-group
          label Select Form
          select.form-control#exampleFormControlSelect1
            option 1
            option 2
            option 3
    br
    div
      h2 6. Buttons
      button(type='submit', class='btn btn-primary', id='primary-button') Primary Action
      br
      button(type='submit', class='btn btn-secondary', id='skip-button') Skip
      br
      div.progress-buttons
        button(type='submit', class='btn btn-secondary', id='back-button') Back
        button(type='submit', class='btn btn-primary', id='next-button') Next
      br
      div.menu-button#menu-button
        i.fas.fa-chevron-left#menu-back-button
      br
      ul.nav.nav-tabs.nav-justified#myTab(role="tablist")
        li.nav-item
          a.nav-link.active#tab1(data-toggle="tab", role="tab") Cat
        li.nav-item
          a.nav-link#tab2(data-toggle="tab", role="tab") Dog
      br
    div
      h2 7. Navigaton
      nav.navbar.navbar-light
      .row.navbar-container 
        .col.navbar-button.left-button(id = 'home-button')
          img(src='/img/home.svg' alt='')
          span.navbar-button-text 
            h1(id = 'home') Home
        .col.navbar-button.middle-button(id = 'adopt-button')
          img(src='/img/adopt.svg' alt='')
          span.navbar-button-text 
            h1(id = 'adopt') Adopt Pet
        
  
          

           



