extends app.pug

append stylesheets
    link(rel='stylesheet' href='/stylesheets/survey.css')
    script(src='https://kit.fontawesome.com/6b38ac7b93.js', crossorigin='anonymous')


block app-content
    div.text-center
        img.default-img.img-fluid(src="../img/default_pet.png")
    br
    div.description-header.text-center
        h3 Based on the survey your dream pet is...
    div.description-body.text-sm-center
        ul
            li Type: Dog
            li Age: Adult
            li Lifestyle: Active
            li Trait: Energetic, House-trained

    div.nextBack.fixed-bottom
        div.progress-buttons.d-flex.justify-content-center
            button(type='submit', class='btn btn-secondary', id='back-button',
                onclick="location.href='/home'") Skip
            button(type='submit', class='btn btn-primary', id='next-button') Customize
