@import "search.css";

.title-header, .navigation-footer .nav {
    background-color: #282f44;
    color: #ececec;
}

.navigation-footer a {
    color:  #ececec;
}

.navigation-footer .active {
    background-color:  #535969 !important;
}

/* Interacts */
#interact-container canvas {
    width: 100% !important;
    height: 50vh !important;
}

#gui {
    position: absolute;
    top: 100px;
    width: 50px;

}
