.vertically-even{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: calc(40vh - 6em);
}

#main-menu .btn {
    min-width: 0 !important;
    min-height: 0 !important;
    border-radius: 0.25em !important;
}

.food-option p {
    pointer-events: none;
    border: solid #ececec;

}

.food-option.selected p{
    border: solid;
    border-radius: 30px;
}

span.customize-option.selected {
    border: solid;
    border-radius: 10px;
}

span.customize-option {
    border: solid #ececec;
    border-radius: 10px;
}

.customize-option li {
    position: relative;
    /* left: 2px; */
    pointer-events: none;
}


.food-option {
    display:flex;
    align-items:center;
}

.text-brown {
    color: #433333;
}
.text-cherry{
    color: rgb(230, 78, 103);
}

.text-silver{
    color: #aaa;
}

#logout-button {
    position: absolute;
    top: 0;
    right: 0;
}