.color-sample {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

#primary-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 32px;
    /*position: absolute;*/
    width: 343px;
    height: 51px;
    border: 0.5px solid #282f44;
    background: #282f44;
    border-radius: 100px;
}

#skip-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 32px;

    /*position: absolute;*/
    width: 343px;
    height: 51px;

    border: 0.5px solid #282f44;
    background: #ececec;
    color: #282f44;
    border-radius: 100px;
}

#next-button {
    width: 160px;
    height: 51px;
    /*left: 190px;
    top: 708px;*/

    background: #282f44;
    /* Neutral / Grey 800 */

    border: 0.5px solid #282f44;
    box-sizing: border-box;
    border-radius: 100px;

}

#back-button {
    width: 160px;
    height: 51px;
    /*left: 190px;
    top: 708px;*/

    background: #ececec;
    color: #282f44;
    /* Neutral / Grey 800 */

    border: 0.5px solid #282f44;
    box-sizing: border-box;
    border-radius: 100px;

    margin-right: 20px;
}

#menu-back-button {
    font-size: 30px;
    color: #282f44;
    cursor: pointer;
}

#myTab {
    width: 343px;
    height: 51px;
}

.nav-item {
    background: #ececec;
}
