.color-sample {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

#primary-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 32px;
    /*position: absolute;*/
    width: 250px;
    height: 51px;
    border: 0.5px solid #282f44;
    background: #282f44;
    border-radius: 100px;
}

#skip-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 32px;

    /*position: absolute;*/
    width: 250px;
    height: 51px;

    border: 0.5px solid #282f44;
    background: #ececec;
    color: #282f44;
    border-radius: 100px;
}

#next-button {
    width: 110px;
    height: 51px;
    /*left: 190px;
    top: 708px;*/

    background: #282f44;
    /* Neutral / Grey 800 */

    border: 0.5px solid #282f44;
    box-sizing: border-box;
    border-radius: 100px;

}

#back-button {
    width: 110px;
    height: 51px;
    /*left: 190px;
    top: 708px;*/

    background: #ececec;
    color: #282f44;
    /* Neutral / Grey 800 */

    border: 0.5px solid #282f44;
    box-sizing: border-box;
    border-radius: 100px;

    margin-right: 20px;
}

#menu-back-button {
    font-size: 30px;
    color: #282f44;
    cursor: pointer;
}

#myTab {
    width: 343px;
    height: 51px;
}

.nav-item {
    background: #ececec;
}

#heading-1{
    font-family: Mulish;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
}
#heading-2{
    font-family: Mulish;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}
#body{
    font-family: Mulish;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
#pageheader{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

#back{
    /* position: absolute; */
    width: 38px;
    height: 19px;
    left: 5px;
    top: 20px;/*calc(50% - 19px/2 + 0.5px);*/
    padding-left:20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 168px;
    color: #F8EFD4;
}

.nav-sample {
    /* position: absolute; */
    width: 375px;
    height: 118px;
    margin-left: -15px;
    left: -16px;
    top: -60px;
    border-radius: 5px;
    background: #132743;
}

#pagetitle{
    /* position: absolute; */
    width: 146px;
    height: 36px;
    left: calc(50% - 146px/2 - 0.5px);
    top: 0px;
    margin-top:-60px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #F8EFD4;
}

#home-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 32px;
    /*position: absolute;*/
    width: 188px;
    height: 80px;
    border: 0.5px solid #282f44;
    background: #282f44;
    
}
#adopt-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 32px;
    /*position: absolute;*/
    width: 188px;
    height: 80px;
    border: 0.5px solid #282f44;
    background: #282f44;
}

#home{
    position: absolute;
    width: 35px;
    height: 12px;
    left: calc(50% - 35px/2 - 0.5px);
    top: 49px;
    
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 100%;
    /* identical to box height, or 12px */
    
    text-align: center;
    letter-spacing: 0.2px;
    
    color: #ececec;
    
}


#adopt{

    position: absolute;
    width: 60px;
    height: 12px;
    left: calc(50% - 60px/2 + 0.5px);
    top: 49px;

    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 100%;
    /* identical to box height, or 12px */

    text-align: center;
    letter-spacing: 0.2px;

    color: #ececec;
}