extends ../app.pug

block app-content
  div.back(style="margin-top: -43px; margin-left: 20px")
    a.link(href='/search')
      i.fas.fa-chevron-left.fa-lg(style="color:#ececec;")
  br
  br
  div.result-prompt Your Search Result...
  div.result-container
    a.link(href='/searchresult/strawberry')
      div.dog-result
        img.result-image(src="img/dog1.png", alt="CMU")
        div.all-info
          div.dog-info
            div.dog-info-name Strawberry
            div.dog-info-location 0.8 mile
          div.dog-trait Adult Female; Chihuahua mix
    a.link(href='/searchresult/chocolate')
      div.dog-result
        img.result-image(src="img/dog2.png", alt="CMU")
        div.all-info
          div.dog-info
            div.dog-info-name Chocolate
            div.dog-info-location 2.3 mile
          div.dog-trait Adult Female; Collie Shepherd
    include ../app-footer.pug