extends ../app.pug
 
block app-content
  div.menu-button#menu-button.backbutton(onclick="window.location.href='/report'")
      i.fas.fa-chevron-left#menu-back-button  
  div.report-result
    img.report-image(src="/img/exercise.jpg", alt="CMU")
    div.report-info
        div.item-info
            div.item-info-name Exercise
            div.item-info-score 30/100
        div.score-bar
            img.eighty-image(src="/img/thirty.svg", alt="CMU")
    

  
  ul.nav.nav-list(id = "line-feed")
    li.divider
  div.item-container
      div.item-result
        div.report-info
          div.item-info
            div.data 09/01 : 
            img.check(src="/img/check-yes.svg", alt="CMU")
          div.item-info
            div.itemtext Frequency
            div.leveltext Too Low
            div.choosetext Perfect
            div.leveltext Too High
          div.item-info
            div.itemtext Duration
            div.leveltext Too Low
            div.leveltext Perfect
            div.choosetext Too High
      div.item-result
        div.report-info
          div.item-info
            div.data 09/02 : 
            img.check(src="/img/check-no.svg", alt="CMU")
          div.item-info
            div.itemtext Frequency
            div.leveltext Too Low
            div.leveltext Perfect
            div.leveltext Too High
          div.item-info
            div.itemtext Duration
            div.leveltext Too Low
            div.leveltext Perfect
            div.leveltext Too High
      div.item-result
        div.report-info
          div.item-info
            div.data 09/03 : 
            img.check(src="/img/check-yes.svg", alt="CMU")
          div.item-info
            div.itemtext Frequency
            div.leveltext Too Low
            div.choosetext Perfect
            div.leveltext Too High
          div.item-info
            div.itemtext Duration
            div.choosetext Too Low
            div.leveltext Perfect
            div.leveltext Too High
      div.item-result
        div.report-info
          div.item-info
            div.data 09/04 : 
            img.check(src="/img/check-yes.svg", alt="CMU")
          div.item-info
            div.itemtext Frequency
            div.choosetext Too Low
            div.leveltext Perfect
            div.leveltext Too High
          div.item-info
            div.itemtext Duration
            div.leveltext Too Low
            div.choosetext Perfect
            div.leveltext Too High
    
      
  include ../app-footer.pug