extends ../app.pug

append stylesheets
  link(rel='stylesheet' href='/stylesheets/report.css')

block app-content
  .container-fluid.h-100
    .row.bg-secondary-yellow
      .col-3.text-pp.text-center.pr-0
        .container
          p.pt-3 #[span #[i.fas.fa-utensils.fa-2x]] #[br] #[span Feeding]
      .col.p-1.d-flex.align-items-center
        .container
          .progress.bg-jin
            .progress-bar(style="width: 80%;").bg-blbl 80%
    

    .row.bg-white.my-1
      .col-4.text-pp.text-center.pr-0
        .container
          p.pt-3 #[span #[i.fas.fa-calendar.fa-2x]] #[br] #[span 10/12/20]
      .col-8.d-flex.align-items-center
        table.table-sm
          hbody
            tr
              td Frequency
              td #[span.badge.badge-high too high]

            tr
              td Amount
              td #[span.badge.badge-success perfect]
    .row.bg-white.my-1
      .col-4.text-pp.text-center.pr-0
        .container
          p.pt-3 #[span #[i.fas.fa-calendar.fa-2x]] #[br] #[span 10/13/20]
      .col-8.d-flex.align-items-center
        table.table-sm
          hbody
            tr
              td Frequency
              td #[span.badge.badge-high too high]

            tr
              td Amount
              td #[span.badge.badge-silver too low]
    .row.bg-white.my-1
      .col-4.text-pp.text-center.pr-0
        .container
          p.pt-3 #[span #[i.fas.fa-calendar.fa-2x]] #[br] #[span 10/14/20]
      .col-8.d-flex.align-items-center
        table.table-sm
          hbody
            tr
              td Frequency
              td #[span.badge.badge-silver too low]

            tr
              td Amount
              td #[span.badge.badge-success perfect]
    .row.bg-white.my-1
      .col-4.text-pp.text-center.pr-0
        .container
          p.pt-3 #[span #[i.fas.fa-calendar.fa-2x]] #[br] #[span 10/15/20]
      .col-8.d-flex.align-items-center
        table.table-sm
          hbody
            tr
              td Frequency
              td #[span.badge.badge-high too high]

            tr
              td Amount
              td #[span.badge.badge-success perfect]

  div.menu-button#back-button(onclick="window.location.href='/report'")
    i.fas.fa-chevron-left.text-white

  include ../app-footer.pug
