extends ../app.pug

append stylesheets
  link(rel='stylesheet' href='/stylesheets/shareResult.css')

block app-content
  div.success.d-flex.justify-content-center
    div.search.mt-2
        h2#title #[strong Select nearby shelters]
        div.checkbox-group.mt-3
            div.checkbox-inline
                div
                    input.checkbox-input#shelterA(type = 'checkbox')
                    label(for='shelterA') Pets In Need Sunnyvale
                p.distance 1 mile
            div.checkbox-inline
                div
                    input.checkbox-input#shelterB(type = 'checkbox')
                    label(for='shelterB') Pets In Need Palo Alto
                p.distance 2 mile
            div.checkbox-inline
                div
                    input.checkbox-input#shelterC(type = 'checkbox')
                    label(for='shelterC') Woof Anima Rescue
                p.distance 3 mile
            div.checkbox-inline
                div
                    input.checkbox-input#shelterD(type = 'checkbox')
                    label(for='shelterD') Care Companion Animal Rescue
                p.distance 4 mile
        div.fixed-bottom.mb-4
            div.d-flex.justify-content-center.p-3
                button(type='submit', class='btn btn-secondary', id="back-button", onclick="location.href='/share/location'").mx-2 Back
                button(type='submit', class='btn btn-primary', id="next-button", onclick = "location.href='/share/form'").mx-2 Next
    //- include app-footer.pug
