extends ../app.pug

append stylesheets
  link(rel='stylesheet' href='/stylesheets/shareResult.css')

block app-content
  div.d-flex.justify-content-center
    div.container.p-4 
        h2#title #[strong Contact me by]
        .form-group
            .input-group
                .input-group-prepend
                .input-group-text #[input(type="checkbox")] Email
                input.form-control(id= "phone" placeholder = "example@address.com")
        .form-group
            .input-group
                .input-group-prepend
                .input-group-text #[input(type="checkbox")] Phone
                input.form-control(id= "phone" placeholder = "(xxx) xxx-xxxx")
        div.confirm.d-flex
            button(type='submit', class='btn btn-secondary', id='cancel-button', onclick="location.href='/share/form'").mx-1 Back
            button(type='submit', class='btn btn-primary', id='ok-button', onclick = "location.href='/share/success'").mx-1 Submit
  //- include app-footer.pug