
extends ../app.pug

append stylesheets
  link(rel='stylesheet' href='/stylesheets/shareResult.css')

block app-content
  div.d-flex.justify-content-center
    div.search
      h2#title #[strong Find Shelters]
        div.search-group
          div.label I'M FROM
          input(type="text" class="form-control" placeholder="94043, CA")
          div.label WITHIN
          input(type="text" class="form-control" placeholder="20 miles")
          br
          button(type='submit', class='btn btn-primary', id='primary-button' onclick = "location.href='/share/shelters'") Search
          .label.mx-auto
      span#account-message(style="margin-top: -50px;") &nbsp
      span.badge.badge-secondary #[a#sign-up-link(href= "/report") Maybe later]


  //- include app-footer.pug