
extends ../app.pug

append stylesheets
  link(rel='stylesheet' href='/stylesheets/shareResult.css')

block app-content
  div.d-flex.justify-content-center
    div.search
      h2#title #[strong(style="margin-left: 30px;") Find Shelters]
        div.cover-photo(style="margin-left: 90px;")
          img.user-image(src="../img/searchShelter.png", alt="CMU", width="160px", height="160px")
        div.search-group
          form(action='/share/shelters')
            .form-group
              div.label I'M FROM
              input(pattern="[0-9]{5}" title="please input a valid Zip Code" required type="text" class="form-control" placeholder="94043")
            .form-group
              div.label WITHIN (miles)
              input(pattern="[0-9]+" title="enter number of miles" required type="text" class="form-control" placeholder="20")
              br
              button(type='submit', class='btn btn-primary', id='primary-button') Search
      br
      span#account-message(style="margin-top: -50px;") &nbsp
      span.badge.badge-secondary #[a#sign-up-link(href= "/report") Maybe later]


  //- include app-footer.pug
