extends ../app.pug

append stylesheets
    script(src="../js/shareResults.js")
    link(rel='stylesheet' href='/stylesheets/shareResult.css')

block app-content
    div.d-flex.justify-content-center
    div.search
        h2#title #[strong I want to...]
        div.choice
            button(type ='submit', class = 'btn choice-button') Adopt
            br
            button(type ='submit', class = 'btn choice-button') Foster
            br
            button(type ='submit', class = 'btn choice-button') Volunteer
            br
            textarea.form-control(id = "comment-box" placeholder="Leave a comment if you would like")
    div.fixed-bottom.mb-4
        div.d-flex.justify-content-center.p-3
            button(type='submit', class='btn btn-secondary', id='back-button', onclick="location.href='/share/shelters'").mx-2 Back
            button(type='submit', class='btn btn-primary', id='next-button').mx-2 Next
//-   include app-footer.pug
