extends ../app.pug

append stylesheets
  link(rel='stylesheet' href='/stylesheets/shareResult.css')

block app-content
  div.d-flex.justify-content-center
    div.container.p-4 
        h2#title #[strong Contact me by]
        .form-group
            .input-group
                .input-group-prepend
                .input-group-text #[input(type="checkbox")] Email
                input.form-control(id= "phone" placeholder = "example@address.com")
        .form-group
            .input-group
                .input-group-prepend
                .input-group-text #[input(type="checkbox")] Phone
                input.form-control(id= "phone" placeholder = "(xxx) xxx-xxxx")
    div.fixed-bottom.mb-4
      div.d-flex.justify-content-center.p-3
        button(type='submit', class='btn btn-secondary', id='back-button', onclick="location.href='/share/form'").mx-2 Back
        button(type='submit', class='btn btn-primary', id='next-button', onclick = "location.href='/share/success'").mx-2 Submit
  //- include app-footer.pug